/node_modules
/public/hot
/public/storage
/public/js/app.js
/storage/*.key
/vendor
**/.DS_Store
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tests/_reports