a {
	color: #1B4731;
	text-decoration: none;
}

a:hover {
	color:#aaa;
	text-decoration: underline;
}

header a {
	color:#ff0;
	text-decoration: none;
}

header a:hover {
	color:#fff;
	text-decoration: underline;
}

#login-box {
	width: 300px;
}

#banner {
	background:#222 url('img/baseball-player.jpg') 45% 56% no-repeat;
	background-size: 1150px;
	height:300px;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 0 16px 0 !important;
}