h1, h2, h3, h4, h5, h6 {
	margin:0 0 16px 0 !important;
}

a {
	color: #1B4731;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color:#aaa;
	text-decoration: underline;
	font-weight: bold;
}

header a {
	color:#ff0;
	text-decoration: none;
}

header a:hover {
	color:#fff;
	text-decoration: underline;
}

table th {
	padding:6px;
	background:#ccc;
	border:#bbb solid 2px;
}

table td {
	padding:6px;
	border-bottom:1px solid #ccc;
}

#login-box {
	width: 300px;
}

#banner {
	background-color:#222;
	background-image: url('img/baseball-player.jpg');
	background-position: 45% 56%;
	background-repeat: no-repeat;
	background-size: 1150px;
	height:300px;
}

#theMenu {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0);
    width: 100vw;
    height: 100vh;
}  

#flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-color: #1A4731;
  position: fixed;
  top: 1em;
  left: 0;
  transition: transform .5s cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
 
#flyoutMenu.hide {
  transform: translate3d(100vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu h2 a {
  color: #F2D024;
  margin-left: 15px;
  text-decoration: none;
  border-bottom:#F2D024 solid 1px;
  padding:6px;
  text-align: center;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
	#banner {
		height: 250px !important;
		background-image: url('img/baseball-player-768.jpg');
		background-size: auto;
		background-position: 45% 54%;
	}
} 

@media only screen and (max-width: 600px) {
	#banner {
		height: 200px !important;
		background-image: url('img/baseball-player-600.jpg');
		background-size: auto;
		background-position: 44% 59%;
	}

	.hideOnMobile {
		display:none;
	}
} 

@media only screen and (max-width: 360px) {
	#banner {
		height: 150px !important;
		background-image: url('img/baseball-player-360.jpg');
		background-size: auto;
		background-position: 45% 58%;
	}

	.hideOnMobile {
		display:none;
	}
} 